<div style="margin-bottom: 1em; border: 2px solid rgba(0,0,0,.2); border-left: none; border-right: none; display: flex; flex-direction: column; min-width: 300px; text-align: center;" >

    <div style="margin: 1em; text-align: left;">{{exerciseList.exerciseName}}</div>




    <div id="exercise-logger" style="display: flex; border-style: solid; border-width: 2px; border-radius:4px; flex-direction: column; margin: auto; width: 75%; min-width: 300px; border-color: rgba(0,0,0,.2);" class="mat-elevation-z2">

        <div style="width: 100%; border-width: 1px; display:flex; flex-direction: row; border-color: rgba(0,0,0,.2);">
            <div style="width: 33%; border-right: solid; border-color: rgba(0,0,0,.2); padding-top: 0.5em; padding-bottom: 0.5em; border-width: 1px;">
                Scheduled
            </div>
            <div style="width: 66%; padding-top: 0.5em; padding-bottom: 0.5em;">
                Done
            </div>
        </div>

        <div style="width: 100%; display: flex; flex-direction: row; border-top: solid; border-color: rgba(0,0,0,.2); border-width: 1px;">
            
            <div style="width:33%; display: flex; flex-direction: row; border-right: solid; border-color: rgba(0,0,0,.2); border-width: 1px;">

                <div style="width:50%; padding-top: 0.5em; padding-bottom: 0.5em;">
                    Reps
                </div>
                
                <div style="width:50%; padding-top: 0.5em; padding-bottom: 0.5em;">
                    Weigth
                </div>

            </div>

            <div style="width:66%; display: flex; flex-direction: row;">

                <div style="width:25%; padding-top: 0.5em; padding-bottom: 0.5em;">
                    Reps
                </div>
                <div style="width:25%; padding-top: 0.5em; padding-bottom: 0.5em;">
                    
                </div>
                <div style="width:25%; padding-top: 0.5em; padding-bottom: 0.5em;">
                    Weigth
                </div>
                <div style="width:25%; padding-top: 0.5em; padding-bottom: 0.5em;">
                    
                </div>

            </div>

            
        </div>

        <div style="width: 100%; display: flex; flex-direction: row; border-top: solid; align-items: center; border-color: rgba(0,0,0,.2); border-width: 1px;" *ngFor="let item of exerciseList.sets">
        
            <div style="width:33%; display: flex; flex-direction: row;">

                <div style="width:33%;">
                    {{item.weight}}
                </div>
                <div style="width:33%;">
                    x
                </div>
                <div style="width:33%;">
                    {{item.reps}}
                </div>

            </div>

            <div style="width: 66%; display: flex; flex-direction: row;">

                <app-set-log [repLog]="item.repsLogged" [weightLog]="item.weightLogged" [date]="this.date" [setId]="item.setId" style="width: 100%;">

                </app-set-log>

            </div>



        </div>

    </div>


    

</div>
