<div style="display: flex;" class="mat-elevation-z8">
    <button class="drawer-button" mat-flat-button (click)="drawer.toggle()" color="primary" style="border-radius: 0; border-style: none;">
        <mat-icon>menu</mat-icon>
    </button>
    <app-app-toolbar style="width: 100%;">
    </app-app-toolbar>
</div>

<mat-sidenav-container style="height: 100%">

    <mat-sidenav #drawer >
        
        <app-navigation-drawer></app-navigation-drawer>
        
    </mat-sidenav>

    <div style="margin: 0 auto; max-width: 800px; width: 100%; background-color: white; display: flex; height: 50px; border-radius: 4px; margin-top: 1em;" class="mat-elevation-z8">
        <div style="width: 15%;">
            <button mat-button style="margin: auto auto; width: 100%; height: 100%;" (click)="this.DateBack();">
                <mat-icon>chevron_left</mat-icon>
            </button>
        </div>
        <div style="width: 70%;text-align: center;margin: auto auto;">
            {{this.date}}
        </div>
        <div style="width: 15%;">
            <button mat-button style="margin: auto auto; width: 100%; height: 100%;" (click)="this.DateForward();">
                <mat-icon>chevron_right</mat-icon>
            </button>
            
        </div>
    </div>


    <mat-spinner *ngIf="isTrainingLoading" style="position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; margin-top: auto; margin-bottom: auto; margin-left: auto; margin-right: auto;"></mat-spinner>

    <div *ngIf="(trainingArray.length > 0) && !isTrainingLoading" >

        <div  *ngFor="let training of trainingArray" style="max-width:800px; margin-left: auto; margin-right:auto; background-color: white; border-radius: 4px; margin-top: 1em;" class="mat-elevation-z8">

            <div style="padding: 1em; font-size: 24px; font-weight: 500; color: white; border-top-left-radius: 4px; border-top-right-radius: 4px;" [ngStyle]="{'background-color': primaryColor}">Training: {{' '+training.trainingName}}</div>
    
            <div *ngFor="let exercise of training.exercises" style="display:flex; flex-direction: column;">
    
                <app-exercise-log [exerciseList]="exercise" [date]="this.date">
    
    
                </app-exercise-log>
    
            </div>

    
        </div>

    </div>

    <div *ngIf="trainingArray.length == 0" style="text-align: center; margin-top: 2rem; color: #f7412d; font-weight: 500;">
        No exercises scheduled for today
    </div>
    



    



    
</mat-sidenav-container>