<link type="text/css" href="/registro-entrenamiento/src/dark-styles.css" rel="stylesheet">

<app-app-toolbar></app-app-toolbar>

<mat-card class="md-primary mat-elevation-z8" style="max-width: 400px; margin:auto; margin-top: 2em; padding: 0px; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; margin-bottom: auto; margin-top: auto; height: fit-content;">

    <mat-card-header class="md-primary" style="border-radius: 5px 5px 0px 0px; padding-top: 1em; padding-left: 1em;" [ngStyle]="{'background-color': primaryColor}">
        <mat-card-title style="color:white;">Login</mat-card-title>
    </mat-card-header>


    <mat-card-content style="padding: 2em; padding-top:1em;">

        <form [formGroup]="loginForm" (ngSubmit)="Login()">

            <mat-form-field class="userField" appearance="outline">
                <mat-label>User</mat-label>
                <input matInput formControlName="userFormControl" [errorStateMatcher]="matcher" id="user" [(ngModel)]="user">
                <mat-error *ngIf="loginForm.get('userFormControl').hasError('required')">
                    Username is <strong>required</strong>
                </mat-error>
        
            </mat-form-field>
        
            <mat-form-field class="passwordField" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" id="password" matInput formControlName="passwordFormControl" [errorStateMatcher]="matcher" [(ngModel)]="password">
                <mat-error *ngIf="loginForm.get('passwordFormControl').hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
        
            </mat-form-field>
            <div style="display: flex; justify-content: end;">
            
                <button mat-raised-button color="accent" type="submit" [disabled]="!loginForm.valid" *ngIf="!isLoading">Login</button>
                <mat-spinner color="accent" *ngIf="isLoading" style="margin-right: 20px;"></mat-spinner>
            </div>
            
        </form>

        <mat-divider style="position:relative; margin: 15px 0px;"></mat-divider>
        
        <p>Don't have an account yet? <a href="/register">Register</a></p>

    </mat-card-content>
    
</mat-card>
