<app-app-toolbar></app-app-toolbar>

<mat-card class="card" style="max-width: 400px; margin:auto; padding: 0px; margin-top: 2em;">

    <mat-card-header class="md-primary" style="border-radius: 5px 5px 0px 0px; padding: 10px 10px 0px 0px; background-color: primary;" >
        <mat-card-title>Registration</mat-card-title>
    </mat-card-header>

    

    
        <mat-card-content style="padding: 5px;">

            <form [formGroup]="registerForm" (ngSubmit)="register()">
                <mat-form-field class="userField" >
                    <mat-label>User</mat-label>
                    <input matInput formControlName="userFormControl" [errorStateMatcher]="matcher" id="user" [(ngModel)]="user">
                    <mat-error *ngIf="registerForm.get('userFormControl').hasError('required')">
                        Username is <strong>required</strong>
                    </mat-error>
            
                </mat-form-field>
            
                <mat-form-field class="passwordField">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" id="password" matInput formControlName="passwordFormControl" [errorStateMatcher]="matcher" [(ngModel)]="password" (change)="this.registerForm.get('passwordVerifFormControl').updateValueAndValidity();">
                    <mat-error *ngIf="registerForm.get('passwordFormControl').hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
            
                </mat-form-field>

                <mat-form-field class="passwordVerifField">
                    <mat-label>Repeat your password</mat-label>
                    <input matInput type="password" id="passwordVerif" matInput formControlName="passwordVerifFormControl" [errorStateMatcher]="matcher" [(ngModel)]="passwordVerif">
                    <mat-error *ngIf="registerForm.get('passwordVerifFormControl').hasError('passwordValidator')">
                        Password doesn't <strong>match</strong>
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('passwordVerifFormControl').hasError('required')">
                        Repeat your password
                    </mat-error>
            
                </mat-form-field>

                <mat-form-field class="emailField">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" id="email" matInput formControlName="emailFormControl" [errorStateMatcher]="matcher" [(ngModel)]="email" (change)="this.registerForm.get('emailVerifFormControl').updateValueAndValidity();">
                    <mat-error *ngIf="registerForm.get('emailFormControl').hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('emailFormControl').hasError('email')">
                        Enter a <strong>valid</strong> email
                    </mat-error>
            
                </mat-form-field>

                <mat-form-field class="emailVerifField">
                    <mat-label>Repeat your email</mat-label>
                    <input matInput type="email" id="emailVerif" matInput formControlName="emailVerifFormControl" [errorStateMatcher]="matcher" [(ngModel)]="emailVerif">
                    
                    <mat-error *ngIf="registerForm.get('emailVerifFormControl').hasError('emailValidator')">
                        Email doesn't <strong>match</strong>
                    </mat-error>

                    <mat-error *ngIf="registerForm.get('emailVerifFormControl').hasError('required')">
                        Repeat your email
                    </mat-error>
            
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid" style="margin: 0 40%;">Register</button>                    
            
            </form>
        </mat-card-content>
    
</mat-card>
