/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.drawer-link:hover{
    background: rgba(0,0,0,.04);
    color:black;
}

.cdk-overlay-pane{
    max-height: 90vh;
}

.exercice-expansion-panel{
  margin-bottom: 16px;
}



@media (max-width: 425px) {
  .exercice-expansion-panel {
    width: 100%;
  }

  .number-rates{
    display:none;
  }
}

.mat-sidenav {
  width: 300px;
  padding: 1em;
}

mat-sidenav {
  width: 300px;
  padding: 1em;
}

.drawer-button:hover {
  background-color: rgba(0,0,0,.04);
}


.training-list-item:hover{
  background-color:  rgb(245 245 245);
  cursor: pointer;
}

.training-list-item{
  padding: 1em;
}



@media (min-width: 1000px){

  .user-icon{
    display: none;
  }
  
}

.toggle-icon{
  display: flex;
}


@media (max-width: 1000px){

  .user-name-widget{
    display: none;
  }

  .toggle-icon{
    display: none;
  }
  
}


.mat-button-wrapper{
  margin:auto;
}