/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.drawer-link:hover{
    background: rgba(0,0,0,.04);
    color:black;
}

.cdk-overlay-pane{
    max-height: 90vh;
}

.exercice-expansion-panel{
  margin-bottom: 16px;
}



@media (max-width: 425px) {
  .exercice-expansion-panel {
    width: 100%;
  }

  .number-rates{
    display:none;
  }
}

.mat-sidenav {
  width: 300px;
  padding: 1em;
}

mat-sidenav {
  width: 300px;
  padding: 1em;
}

.drawer-button:hover {
  background-color: rgba(0,0,0,.04);
}


.training-list-item:hover{
  background-color:  rgb(245 245 245);
  cursor: pointer;
}

.training-list-item{
  padding: 1em;
}



@media (min-width: 1000px){

  .user-icon{
    display: none;
  }
  
}

.toggle-icon{
  display: flex;
}

.toolbarNavigation{

  display:flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: center;
}



@media (max-width: 700px){
  .toolbarNavigation{
    display:none;
  }

  #exercise-logger{
    width: 100% !important;
    margin: none !important;
  }
}

@media (min-width: 700px){
  button.drawer-button{
    display:none;
  }
}


@media (max-width: 1000px){

  .user-name-widget{
    display: none;
  }

  .toggle-icon{
    display: none;
  }
  
}


.mat-button-wrapper{
  margin:auto;
}

.toolbarLink{
  border-radius: 4px;
  max-height: 40px;
  user-select: none;
}

.toolbarLink:hover{
  background: rgba(0,0,0,.2);
}

.workoutNavigationToggle:hover{
  cursor: pointer;
}


mat-spinner{
  height: 40px !important;
  width: 40px !important;
}

mat-spinner svg{
  height: 40px !important;
  width: 40px !important;
}

.set-input-field .mat-form-field-wrapper{
  padding-bottom: 0;
}

.set-input-field div.mat-form-field-appearance-outline.mat-form-field-wrapper{
  margin: .25em .25em;
}